<section class="article">
    <div class="container">
        {% partial 'blog/blog-breadcrumb' %}
        <div class="article__inner">
            <div class="article__top">
                <div class="article__top-image">
                    {% if post.banner %}
                    <img src="{{ post.banner.path }}" alt="{{ post.title }}">
                    {% else %}
                    <img src="{{ partial('helpers/random-stock-image') }}" alt="{{ post.title }}">
                    {% endif %}
                </div>
                <div class="article__top-content">
                    <div class="article__top-about clause__top">
                        <p>{{ post.published_at_date|date('j F') }}</p>
                        <div class="clause__time">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                <path d="M8 1.38477C4.14027 1.38477 1 4.52503 1 8.38477C1 12.2445 4.14027 15.3848 8 15.3848C11.8597 15.3848 15 12.2445 15 8.38477C15 4.52503 11.8597 1.38477 8 1.38477Z" stroke="white"></path>
                                <path d="M10 10.0598L8 9.01356V6.05981" stroke="white" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                            <p>{{ post.reading_time }} хв. читання</p>
                        </div>
                        {% if post.categories %}
                        {% for category in post.categories %}
                        <p>#{{ category.title }}</p>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <h1>{{ post.title }}</h1>
                    <p>
                        Тут якись спеціальний текст, типу вступу?
<!--                        {% if post.entry_type == 'markdown_post' %}-->
<!--                        {{ post.content|md|content }}-->
<!--                        {% else %}-->
<!--                        {{ post.content|content }}-->
<!--                        {% endif %}-->
                    </p>
                </div>
            </div>
            <div class="article__content">
                <h4>{{ post.title }}</h4>
                <p>
                    {% if post.entry_type == 'markdown_post' %}
                    {{ post.content|md|content }}
                    {% else %}
                    {{ post.content|content }}
                    {% endif %}
                </p>
                {% if post.gallery %}
                <div class="article__gallery">
                    {% partial 'controls/image-carousel' gallery=post.gallery %}
                </div>
                {% endif %}
            </div>
        </div>
<!--        <div class="article__meta">-->
<!--            <div class="meta-item">-->
<!--                {% if post.categories %}-->
<!--                <div class="meta-categories">-->
<!--                    Опубликовано в:-->
<!--                    {% for category in post.categories %}-->
<!--                    <a href="{{ 'blog/category'|page({ slug: category.slug }) }}">{{ category.title }}</a>{{ not loop.last ? ',' }}-->
<!--                    {% endfor %}-->
<!--                </div>-->
<!--                {% endif %}-->
<!--                <div class="meta-date">{{ post.published_at_date|date('j M Y') }}</div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="article__comments">-->
<!--            {% partial 'blog/comment-list' %}-->
<!--        </div>-->
<!--        <div class="article__comment-form">-->
<!--            {% partial 'blog/comment-form' %}-->
<!--        </div>-->
    </div>
</section>

<section class="interested">
    <div class="container">
        <h3 class="interested__title">Цікаві статті</h3>
        {#}     {% partial 'blog/related-posts' %} #}
    </div>
</section>
