<section class="clause">
    <div class="container">
        <div class="clause__inner">
            <div class="clause__box">
                <h2 class="clause__title">Новини</h2>
                {% set newsPosts = blog.whereRelation('categories', 'slug', 'news').orderBy('published_at', 'desc').take(3).get() %}
                <div class="clause__slider">
                    <div class="swiper-wrapper">
                        {% for post in newsPosts %}
                        <div class="clause__slide swiper-slide">
                            <div class="clause__image">
                                <img src="{{ post.banner.path|default('img/default.png') }}" alt="{{ post.title }}">
                            </div>
                            <div class="clause__content">
                                <div class="clause__top">
                                    <p>{{ post.published_at_date|date('j F Y') }}</p>
                                    <div class="clause__time">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                            <path d="M8 1.38477C4.14027 1.38477 1 4.52503 1 8.38477C1 12.2445 4.14027 15.3848 8 15.3848C11.8597 15.3848 15 12.2445 15 8.38477C15 4.52503 11.8597 1.38477 8 1.38477Z" stroke="white"/>
                                            <path d="M10 10.0598L8 9.01356V6.05981" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                        <p>{{ post.read_time }} хв. читання</p>
                                    </div>
                                    {% for category in post.categories %}
                                    <p>
                                    <a href="{{ 'blog/category'|page({ slug: category.slug, id: category.id }) }}">#{{ category.title }}</a>{{ not loop.last ? ',' }}
                                    </p>
                                    {% endfor %}
                                </div>
                                <a href="{{ 'blog/post'|page({ slug: post.slug, id: post.id }) }}">
                                    <p>{{ post.title|raw }}</p>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="clause__slider-btns">
                            <span class="clause__slider-prev slider-btn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                                    <path d="M9.62402 17.3081L2.12403 9.77782M9.62401 2.24753L2.12403 9.77782M2.12403 9.77782L17.874 9.77782" stroke="white" stroke-width="2" stroke-linecap="square"/>
                                </svg>
                            </span>
                    <span class="clause__slider-next slider-btn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                                    <path d="M9.37402 17.3081L16.874 9.77782M9.37403 2.24753L16.874 9.77782M16.874 9.77782L1.12402 9.77782" stroke="white" stroke-width="2" stroke-linecap="square"/>
                                </svg>
                            </span>
                </div>
            </div>
            <div class="clause__block">
                <h2 class="clause__name">Статті</h2>
                <div class="clause__block-content">
                    {% for post in otherPosts %}
                    <div class="clause__block-item">
                        <div class="clause__top">
                            <p>{{ post.published_at_date|date('j F Y') }}</p>
                            <div class="clause__time">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                    <path d="M8 1.38477C4.14027 1.38477 1 4.52503 1 8.38477C1 12.2445 4.14027 15.3848 8 15.3848C11.8597 15.3848 15 12.2445 15 8.38477C15 4.52503 11.8597 1.38477 8 1.38477Z" stroke="#9393A3"/>
                                    <path d="M10 10.0598L8 9.01356V6.05981" stroke="#9393A3" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <p>{{ post.read_time }} хв. читання</p>
                            </div>
                            {% for category in post.categories %}
                            <p>
                            <a href="{{ 'blog/category'|page({ slug: category.slug, id: category.id }) }}">#{{ category.title }}</a>{{ not loop.last ? ',' }}
                            </p>
                            {% endfor %}
                        </div>
                        <a href="{{ 'blog/post'|page({ slug: post.slug, id: post.id }) }}">
                            <p>{{ post.title|raw }}</p>
                            {{ post.content|md|striptags|slice(0, 50) }}{{ post.content|md|striptags|length > 50 ? '...' }}
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
