[viewBag]
snippetCode = "team"
snippetName = "team"
snippetDescription = "team"
snippetAjax = 0
==
<section class="team">
    <div class="container">
        <div class="team__inner">
            <div class="team__top">
                <h2 class="team__title">Наша команда</h2>
                <div class="team__slider-btns">
                    <span class="team__slider-prev slider-btn-second">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="29" viewBox="0 0 30 29" fill="none">
                            <path d="M14.373 27.1802L1.87305 14.6297M14.373 2.07921L1.87305 14.6297M1.87305 14.6297L28.123 14.6297" stroke="#222222" stroke-width="2" stroke-linecap="square"/>
                        </svg>
                    </span>
                    <span class="team__slider-next slider-btn-second">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="29" viewBox="0 0 30 29" fill="none">
                            <path d="M15.623 27.1802L28.123 14.6297M15.6231 2.07921L28.123 14.6297M28.123 14.6297L1.87305 14.6297" stroke="#222222" stroke-width="2" stroke-linecap="square"/>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="team__slider">
                <div class="swiper-wrapper">
                    {% for member in this.theme.team %}
                    <div class="team__slide {{ loop.index is odd ? '' : 'team__slide-second' }} swiper-slide">
                        <div class="team__slide-image">
                            <img src="{{ member.team_img|media }}" alt="{{ member.team_name }}">
                        </div>
                        <div class="team__slide-content">
                            <h3>{{ member.team_name }}</h3>
                            <p>{{ member.team_job_title }}</p>
                            {% if member.team_url %}
                            <a href="{{ member.team_url }}" class="team__link">Подробнее</a>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <span class="team__slider-pagination slider-pagination"></span>
        </div>
    </div>
</section>