[collection blogCategories]
handle = "Blog\Category"

[collection BlogPosts]
handle = "Blog\Post"
==
<style>
    .materials__item {
        transition: opacity 0.3s, transform 0.3s;
    }
    .materials__item.hide {
        opacity: 0;
        transform: translateY(10px);
        pointer-events: none;
    }
</style>
<section class="materials">
    <div class="container">
        <nav class="breadcrumb">
            <ul>
                <li>
                    <a href="/">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                            <path d="M7.66569 14.4961L0.999023 7.8025M7.66568 1.10891L0.999023 7.8025M0.999023 7.8025L14.999 7.8025" stroke="#9393A3" stroke-linecap="square"/>
                        </svg>
                        <span>Назад</span>
                    </a>
                </li>
                <li>
                    <a href="index.html">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                            <path d="M8.00887 1L1 6.09091V15H6.35247L6.35235 10.5267H9.64753V15H15V6.09091L8.00887 1Z" stroke="#9393A3"/>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="materials.html">
                        <span>Просвіта</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="materials__inner">
            <h1 class="materials__title">Просвіта</h1>

            <div class="content__form-buttons materials__select-buttons">
                <input type="hidden" class="type-status" name="tir-type" value="Всі матеріали">
                <button class="toggle-button" type="button" data-status="Категорії матеріалів">Категорії матеріалів</button>
                <button class="toggle-button selected" type="button" data-status="Всі матеріали">Всі матеріали</button>
            </div>

            <div class="materials__content materials__content-first">
                <div class="materials__filter filter__select">
                    <div class="filter__select-btn--box">
                        <button class="filter__select-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" viewBox="0 0 14 12" fill="none">
                                <path d="M1.75 2.82227H3.17838M12.25 2.82227H7.00008" stroke="#006438" stroke-width="2" stroke-linecap="square"/>
                                <path d="M1.75 9.07593H7.34751M12.25 9.07593H10.8218" stroke="#006438" stroke-width="2" stroke-linecap="square"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.91487 4.55923C5.87426 4.55923 6.65201 3.78149 6.65201 2.8221C6.65201 1.8627 5.87426 1.08496 4.91487 1.08496C3.95548 1.08496 3.17773 1.8627 3.17773 2.8221C3.17773 3.78149 3.95548 4.55923 4.91487 4.55923Z" stroke="#006438" stroke-width="2" stroke-linecap="square"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.08479 10.8131C10.0442 10.8131 10.8219 10.0354 10.8219 9.076C10.8219 8.11662 10.0442 7.33887 9.08479 7.33887C8.12541 7.33887 7.34766 8.11662 7.34766 9.076C7.34766 10.0354 8.12541 10.8131 9.08479 10.8131Z" stroke="#006438" stroke-width="2" stroke-linecap="square"/>
                            </svg>
                            Фільтр
                        </button>
                        <button class="filter__select-categories">Всі матеріали</button>
                    </div>
                    <div class="filter__select-item">
                        <label>
        <span>
            <input type="radio" name="filter-name" value="all" checked>
            <span>Всі матеріали</span>
        </span>
                        </label>
                    </div>
                    <div class="filter__select-content">
                        {% for category in blogCategories %}
                        <div class="filter__select-item{% if category.slug == this.param('slug') %} active{% endif %}">

                            <label>
                               <span>
                                   <a href="{{ 'blog/category'|page({ slug: category.slug }) }}">
                                <input type="radio" name="filter-name"{% if category.slug == this.param('slug') %} checked{% endif %}>
                                <span>{{ category.title }}</span>
                                       </a>
                            </span>
                            </label>
                        </div>
                        {% endfor %}

                        <!-- menu from admin panel -->
                        {% for menuItem in this.theme.header_menu_prosvita %}
                        {% if menuItem.header_menu_enabled %}
                        <div class="filter__select-item{% if category.slug == this.param('slug') %} active{% endif %}">

                            <label>
                               <span>
                                   <a href="{{ menuItem.header_menu_link }}">
                                <input type="radio" name="filter-name"{% if category.slug == this.param('slug') %} checked{% endif %}>
                                <span>{{ menuItem.header_menu_name }}</span>
                                       </a>
                            </span>
                            </label>
                        </div>


                        {% endif %}
                        {% endfor %}

                    </div>


                </div>
                <div class="materials__result-content">
                    <div class="materials__result">
                        {% set posts = blog.paginate(12) %}
                        {% for post in posts %}
                        <div class="materials__item">
                            <div class="clause__image">
                                <img src="{{ post.banner ? post.banner.path : 'path/to/default/image.jpg' }}" alt="{{ post.title }}">
                            </div>
                            <div class="clause__content">
                                <div class="clause__top">
                                    <p>{{ post.published_at|date('d MMMM') }}</p>
                                    <div class="clause__time">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                            <path d="M8 1.38477C4.14027 1.38477 1 4.52503 1 8.38477C1 12.2445 4.14027 15.3848 8 15.3848C11.8597 15.3848 15 12.2445 15 8.38477C15 4.52503 11.8597 1.38477 8 1.38477Z" stroke="white"></path>
                                            <path d="M10 10.0598L8 9.01356V6.05981" stroke="white" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                        <p>{{ post.reading_time }} хв. читання</p>
                                    </div>
                                    <p>
                                        {% for category in post.categories %}
                                        <span>#{{ category.title }}</span>
                                        {% endfor %}
                                    </p>
                                </div>
                                <a href="{{ 'blog/post'|page({ slug: post.slug }) }}">
                                    <p>{{ post.featured_text }}</p>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

<!--                        <nav class="blog-pagination" aria-label="Pagination">-->
                            <div class="pages-btns materials__pages"> {{ pager(posts) }}</div>
<!--                        </nav>-->

                </div>
            </div>

        </div>

    </div>
</section>
