<nav class="breadcrumb">
    <ul>
        <li>
            <a href="{{ 'index' | page }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <path d="M7.66569 14.4961L0.999023 7.8025M7.66568 1.10891L0.999023 7.8025M0.999023 7.8025L14.999 7.8025" stroke="#9393A3" stroke-linecap="square"/>
                </svg>
                <span>Назад</span>
            </a>
        </li>
        <li>
            <a href="{{ 'index' | page }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <path d="M8.00887 1L1 6.09091V15H6.35247L6.35235 10.5267H9.64753V15H15V6.09091L8.00887 1Z" stroke="#9393A3"/>
                </svg>
            </a>
        </li>
        <li>
            <a href="{{ this.page.url }}">
                <span>{{ this.page.title }}</span>
            </a>
        </li>
    </ul>
</nav>

